@import url('../../ext/resources/css/ext-all.css');

/*@font-face{
    font-family: AvenirLtStdBlack;
    src:url('resources/fonts/AvenirLTStd-Black.otf')
}*/

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mainPageGroupPanel .x-panel-header {
    color:red;
    border: 0px;
    background-color: #0c213e;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;  
    /*padding:10px;*/
    /*margin:0,0,5,5;*/ 
}

.x-panel-body-default{
    border-width: 0px;
}

.innerpanel .x-panel-body-default{
    border-width: 1px;
    border-color: #d2d2d2;
}

.assetsInScopeLabel{
    color:#0d2240;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0px 5px 20px;    
    display: block;    
    font-weight: bold;
    font-family: montserratbold
}

.x-table-layout-cell {
   padding-top:5px;
   text-align: center;
   width:50%;
}

.x-table-layout{
   width:100%;
   height:95%;
   /*margin-bottom:5px;*/      
}
label .x-component .x-component-default{
    margin-left:0px;
}

.btnAiS{
     background-color: 'white';
     border: 'none';
     color: 'black';
     font-size:'15px';
}

.btnAstsInScp{
    background:#ffffff;
    border: none;       
    /*color: black;*/
}

.btnAstsInScp .x-btn-inner {
    color: #555555;
    font-family: 'montserratregular'; 
    font-weight: normal;
    font-size:'12px';
}

.x-btn-pressed.btnAstsInScp .x-btn-inner {
    color: white;    
}

.x-nlg .x-btn-default-small{
    background-repeat: no-repeat;
    background-image: none;
}

.x-btn-pressed.btnAstsInScp {
    background: #0071ce;  
    border-radius: 0px;
	/*background-color:#0071ce !important;*/
	/*border:solid 1px #378b37 !important;*/
    background-image: none !important;
    
}

.drillDownHeader{
    color:#0d2240;
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 20px 5px 20px;    
    display: block;    
    font-weight: normal;
    font-family: montserratbold
}

.drillDownLabel{
    color:#0071ce;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 20px 5px 20px;    
    display: block;    
    font-weight: normal;
    font-family: montserratregular
}

.customLoadMask{
    z-index: 99;
    position: relative;
    filter: alpha(opacity=70);
    opacity: 1;
    background: #f2f2f2 !important;
    /*background: palevioletred !important;*/
    background-image: url('graphics/ajax-loader.gif') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;     
}

/*class to apply pointer cursor on plotband paths of column chart and (shape for I.E 8)*/
path, shape{
    cursor: pointer;
}

/*setting cursor to default for other shapes in I.E 8 */
shape.highcharts-background{
    cursor:default;
}

/*class to remove pointer cursor from plotbands path in highslide expanded chart */
.noPointerCursor path{
    cursor: default !important;
}

.highlightKMGauge{
    /*background-color: palevioletred;*/
    border: 1px solid #b3ddff !important;
    cursor: pointer;
}
